@import './globals.css';  /* variables */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    height: 100vh;
}

html {
    height: 100%;
    /* height: 100vh; */
}

li {
    list-style-position: inside;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary)
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--neutral);
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-y: auto;
}

.nav {
    flex-shrink: 0;
    background-color: var(--secondary);
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center; /* This centers items vertically */
    padding: 0 20px; /* Add some horizontal padding */
}

.nav a {
    color: var(--primary);
    text-decoration: none;
    margin-right: 20px; /* Space between nav links */
    font-weight: 500; /* Make links more visible */
}

.nav a:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.section {
    padding: 0 2rem;
}

.hero {
    /* border: solid red 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;

    .hero-title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .hero-text {
        opacity: 70%;
    }
}


/* -------- privacy policy start -------- */
.privacy-policy-container {
    flex-grow: 1;
    padding: 2rem;
}

.privacy-policy-footer {
    padding: 2rem;
    background-color: var(--secondary);
}
/* -------- privacy policy end -------- */
